<div class="col s6 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= @student.name %></span>
      <p><%= @student.email %></p>
      <p>Course Enrollments:
        <% if @student.courses.empty? %>
          None
        <% else %>
          <ul>
            <% @student.courses.each do |course| %>
              <li><%= link_to "#{course.name}", course_path(course) %></li>
            <% end %>
          </ul>
        <% end %>
        </p>
    </div>
      <div class="card-action">
        <% if (logged_in? && !@student.admin?) || (logged_in? && (current_user.admin? || current_user.teacher?)) || (logged_in? && current_user == @student) %>
          <%= link_to "Edit", edit_student_path(@student) %>
          <% if current_user != @student %>
            <%= link_to "Delete", student_path(@student), method: :delete, data: {confirm: "Arm you sure you want to delete this student?"} %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
